:root {
    /*Font-Family*/
    --main-font-family: monospace;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-position: inside;
    background-color: rgb(162, 213, 230);
    font-family: var(--main-font-family);
}

h1 {
    font-size: 40px;
}

li {
    margin-bottom: 5px;
}

input {
    margin-right: 5px;
    font-family: var(--main-font-family);
    font-weight: bold;
}

.error-msg {
    background-color: lightcoral;
    margin: auto;
    margin-top: 15px;
    width: 300px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 45%;
}

#add {
    background-color: lightskyblue;
}

.change-btn {
    background-color: lightgrey;
}

.delete-btn {
    background-color: lightcoral;
}

.done-btn {
    background-color: lightgreen;
}

button {
    font-family: var(--main-font-family);
    font-weight: bold;
    border-radius: 20%;
    margin: 1px;
    cursor: pointer;
}